*.chunk.js
*.entry.js
*.map
*.gif
*.jpg
*.jpeg
*.ttf
*.mp4
*.ico
*.png
*.md
*.yaml
*.log
*.mustache
*.json
*.svg
*.html
**/node_modules
fetch-polyfill.js
qrcode.min.js
**/dist
**/coverage
*.css
webpack.config.js